
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Signika:wght@700&family=Source+Sans+Pro:wght@300&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Signika', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #1b1b1b;
}


.top{
    display: flex;
    flex-flow: column nowrap;
    background-color: #1F2937;
    padding: 10px;
    color: #e5e7eb;
    /* align-items: center;
    justify-content: center; */
}

.navigation{
    align-items: center;
    display: flex;
    width: 1000px;
    flex: 10 0 auto;
    margin:auto;
    justify-content: space-between;
}


.navi-logo {
    display: flex;
    align-items: center;
    gap:10px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
}


.container{
    display: flex;
    width: 1000px;
    align-items: center;
    margin: 20px auto;
}
.top-text {
  padding-right: 30px;
}

.top-text h1 {
    font-family: 'Signika', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 80%;
    margin-bottom: 0px;
}

.top-text p{
    margin-top: 10px;
}

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    color: #e5e7eb;
}


.bigimg {
   width: 400px;
}

h2 {
    font-family: 'Signika', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.content.photo{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    align-items: center;
}

.photo-grid{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.photo-grid-item {
    max-width: 200px;
    font-size: 14px;
    font-weight: 600;
}

.photo-grid-item img {
    width: 200px;
    height: 200px;
    border: 0px solid #D0C9C0;
    border-radius: 30px;
    object-fit: cover;
}















.logo {
    max-height: 60px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

a:hover {
    color: #A5BECC;
    transition: 0.3s;
}

ul {
    display: flex;
    margin: 10px;
    gap: 20px;
    list-style: none;
}